.navbar {
    background-color: #f73d93 !important;
}

.dash {
    height: 100vh;
    background-color: #f5e7ee;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 2vw;
}

.posts #post {
    width: 22vw;
    height: 30vw;
}

#post img,
.myImg {
    height: 28vw !important;
    width: 100%;
    object-fit: cover;
}

.myImg {
    height: 23vw !important;
    width: 80%;
    object-fit: cover;
}