.navbar {
    background-color: #f73d93 !important;
}

.navbar-brand {
    margin-left: 4vw;
}

#navbarSupportedContent {
    margin-left: 20vw;
}

.nav-item {
    margin-left: 2vw;
    font-weight: bold;
}

.nav-item a:hover {
    color: white !important;
    font-size: 1.2vw;
}

.navbar input {
    width: 11vw !important;
}

.navbar .btn-outline-success {
    width: 5vw !important;
    margin-right: 2vw;
    border: solid 1px #570a57;
    color: white !important;
}

.navbar .btn-outline-success:hover {
    background-color: #570a57 !important;
}

.dash {
    height: 100vh;
    background-color: #f5e7ee;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post .card {
    margin: 2vw;
    border-radius: 8px;
}

.card .btn {
    background-color: #570a57;
    border: none;
    font-size: 1.1vw !important;
}

.posts #post {
    width: 22vw;
    height: 38vw;
}

#post img,
.myImg {
    height: 30vw !important;
    width: 100%;
    object-fit: cover;
}

.myImg {
    height: 10vw !important;
    width: 80%;
    object-fit: cover;
}

.modal {
    height: 45vw !important;
}


/* category  */

#postcat {
    margin: 2vw;
    border-radius: 8px;
}

.category {
    color: #570a57;
    font-size: 1.2vw;
}

.category span {
    color: #f73d93;
}

#postcat img {
    height: 30vw !important;
    width: 100%;
    object-fit: cover;
}

#postcat {
    width: 30vw !important;
}