{% load bootstrap5 %} {% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  {% block styles %} {% bootstrap_css %} {% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <body>
    {%include 'navbar.html' %} {% block content %}
    <h3>heheh</h3>

    {%endblock%} {% block scripts %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {% bootstrap_javascript %} {%endblock%}
  </body>
</html>
